configure
Makefile
*.in
*.lo
*.o
*.m4
ChangeLog.*
INSTALL
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
depcomp
.deps/
.libs/
vgdump
libtool
ltmain.sh
missing
stamp-h1
install-sh
test-driver
