Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
*.o
aclocal.m4
autom4te.cache/
compile
configure
depcomp
filetea/.deps/
filetea/filetea
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
INSTALL